@page
@model LinkAggregatorWeb.Pages.User.StatisticsModel

<div style="display:flex">
    <div style="width: 200px; background-color: #f0f0f0; padding: 10px;">
        <h3 style="color:black">YOUR URLs</h3>
        <ol>
            @foreach (var item in Model.HyperLinks)
            {
                <li><button>@item.Name</button></li>
            }
        </ol>
    </div>

    <div class="container p-3 justify-content-center">
        <h2 class="text-white pl-3">URLs STATISTICS</h2>
        <div class="d-flex justify-content-center w-100">
            <br /><br />
            <canvas id="urlVisitsChart" class="w-50 h-50"></canvas>
            <br /><br />
            <canvas id="dayOfVisitUrl" class="w-25 h-25"></canvas>
        </div>

        <button id="copyButton" onclick="copyTextToClipboard()">Skopiuj tekst</button>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function copyTextToClipboard(var textToCopy) {
        var textToCopy = "Link to new data"; // Tutaj umieść tekst, który chcesz skopiować
        var textArea = document.createElement("textarea");
        textArea.value = textToCopy;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        //alert("Tekst został skopiowany do schowka!");
    }


    const VisitsCharts = document.getElementById('urlVisitsChart');
    var dataFromDb = @Json.Serialize(Model.labels);
    new Chart(VisitsCharts, {
        type: 'bar',
        data: {
            labels: dataFromDb,
            datasets: [{
                label: 'Amount of visits to your URLs',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const VisitUrl = document.getElementById('dayOfVisitUrl');
    new Chart(VisitUrl, {
        type: 'pie',
        data: {
            labels: dataFromDb,
            datasets: [{
                label: 'This Month visits',
                data: [100, 30, 55, 28, 2],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(255, 205, 150)',
                    'rgb(32, 205, 150)'
                ],
                hoverOffset: 4
            }]
        }
    });
</script>

