@page
@model LinkAggregationApp.Views.Home.IndexModel

<h1>Please insert your hyperlink below:</h1>

<input placeholder="Your hyperlink"/>
<button>RENDER NEW URL</button>

@{
    string url = String.Empty;
}
