@page
@model LinkAggregatorWeb.Pages.User.Link.EditModel

<form method="post">
    <input hidden asp-for="HyperLink.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-white pl-3">Edit URL</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="HyperLink.Name"></label>
            <input asp-for="HyperLink.Name" class="form-control" />
            <span asp-validation-for="HyperLink.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HyperLink.Url"></label>
            <input asp-for="HyperLink.Url" class="form-control" />
            <span asp-validation-for="HyperLink.Url" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HyperLink.HashCode"></label>
            <input asp-for="HyperLink.HashCode" class="form-control" />
            <span asp-validation-for="HyperLink.HashCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HyperLink.ValidFrom"></label>
            <input asp-for="HyperLink.ValidFrom" class="form-control" />
            <span asp-validation-for="HyperLink.ValidFrom" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HyperLink.ValidTo"></label>
            <input asp-for="HyperLink.ValidTo" class="form-control" />
            <span asp-validation-for="HyperLink.ValidTo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
